<script type="text/x-template" id="tpl_xtemplate">
  x-template support
</script>
<style lang="postCss">
    .b { 
      font-size: 89px;
    }
  </style>
  
<div class="mod">
    <div class="view">
       fdsajfkladjfklsdjfkljsdakfjdsklfnlcadknkladnclknsdcklc
    </div>
  </div>