<script type="text/x-template" id="tpl_speciallist">
<% if (model.speciallist && model.speciallist.length > 0) {%>
  <h2 class="dIndex-title">今日推荐</h2>
  <div class="j-mod-recommendlist dIndex-box"></div>
<% }%>
</script>
<script type="text/x-template" id="tpl_shidanlist">
<% if (model.shidanlist && model.shidanlist.length > 0) {%>
  <div class="j-mod-recommendlist dIndex-box"></div>
<% }%>
</script>
<script type="text/x-template" id="tpl_yuegaolist">
<% if (model.yuegaolist && model.yuegaolist.length > 0) {%>
  <div class="j-mod-recommendlist dIndex-box"></div>
<% }%>
</script>
<script type="text/x-template" id="tpl_hotlist">

  <div class="dIndex-part dMod">
      <h2 class="dIndex-title">热门预测</h2>
      <div class="j-mod-recommendlist dIndex-box"></div>
  </div>
  <div class="j-loadRecommand dIndex-loadMore hide">查看更多</div>
<% if (model.hotlist && model.hotlist.length > 0) { %>
<% }%>
</script>

<script type="text/x-template" id="tpl_midlands">
<% if (model.indexmidlands && model.indexmidlands.length > 0) { %>
  <% var info = model.indexmidlands.find(function(ele) { return ele.position == '位置4' }); 
      if (info && !model.nolottery) {
 %>
    <a href="<%= info.url %>"><img src="<%= info.pic %>"></a>
  <% }%>
<% }%>
</script>
<script type="text/x-template" id="tpl_autoreg">
  <div class="dIndex-autoReg-mask"></div>
  <div class="j-regBonus dIndex-autoReg-bonus" data-status="0">
      <a class="j-autoreg-close dSub-close" href="javascript:void(0)"></a>
      <a class="dSub-bonus" href="/Bonus/Success.html?from=regist"></a>
  </div>
</script>