<link rel="stylesheet" href="/dist/css/mall.css?v=059d7ee339" />
<style>
    .top {
        display: block;
    }
    .info {
        background: #fff;
    }
    .pic {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    .pic img {
        width: 100%;
    }
    .text {
        margin-top: 12px;
        line-height: 26px;
    }
    .form {
        background: #fff;
        margin-top: 10px;
        padding: 10px;
    }
    .form p {
        margin-bottom: 10px;
    }
    .form div {
        margin: 10px 0;
    }
    .form input, .form textarea {
        width: 100%;
        border: 0;
        background: #f4f4f4;
        padding: 0.8em;
        height: 40px;
        box-sizing: border-box;
    }
    .form textarea {
        height: 6em;
        resize: none;
    }
    .form .btn {
        display: block;
        margin: 40px 0 20px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        cursor: pointer;
    }
    .back-top {
        display: none;!important;
    }
    .dFoot{
        display: none;
    }
</style>
<template>
<div id="app">
  <%- include(viewRoot + '/components/common/loading.ejs') %>
</div>
</template>
<script>
  const a = 3;

</script>