<link rel="stylesheet" href="/dist/css/mall.css?v=059d7ee339" />
<style>
    .top {
        display: block;
    }
    .info {
        background: #fff;
    }
    .pic {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    .pic img {
        width: 100%;
    }
</style>
<template>
    <div id="app">
        <p>fsdafsdfdsafdsa</p>
    </div>
</template>
<script>
  const a = 3;

</script>