<style inline lang="postCss">
  :fullscreen {
    color: #333;
    font-size: 28px;
  }
</style>
<style inline lang="scss">
  #content {
    p {
      color: #333;
    }
    h3 {
      height: 30px;
    }
  }
</style>
<style>
  .a {
    color: #369;
  }
  .b {
    color: #369;
  }
  .c {
    color: #369;
  }
  .c {
    color: #369;
  }
  .e {
    color: #369;
  }
  .f {
    color: #369;
  }
  .g {
    color: #333;
  }
</style>
   @requireTpl('./component/index.ejs')
  <div class="mod">
    <div class="view">
       sffasdfa
    </div>
  </div>
  <div class="mod">
  </div>

<link href="/fs.css">
<style lang="postCss">
  .a { 
    font-size: 57px;
  }
</style>

<script>
  const a = 2;
  [1, 2, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script inline>
  const b = 3;
  [1, 4, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script src="/jquery.js" defer></script>

<script>
  const a = 2;
  [5, 6, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>