<style inline lang="postCss">
  :fullscreen {
    color: #333;
    font-size: 28px;
  }
</style>
<style inline>
  .a {
    color: #369;
  }
  .b {
    color: #369;
  }
  .c {
    color: #369;
  }
  .c {
    color: #369;
  }
  .e {
    color: #369;
  }
  .f {
    color: #369;
  }
  .g {
    color: #369;
  }
</style>


<template>
  <div class="mod">
    <div class="view">
        @requireTpl('./component/index.ejs')
    </div>
  </div>
</template>

<link href="/fs.css">
<style lang="postCss">
  .a { 
    font-size: 15px;
  }
</style>

<script>
  const a = 2;
  [1, 2, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script inline>
  const b = 3;
  [1, 4, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>

<script src="/jquery.js"></script>

<script>
  const a = 2;
  [5, 6, 3].map((n) => n + 1);
  new Promise((res, rej) => {
    setTimeout(res(10))
  })
</script>